#sidebar {
    width: 6em;
    height: 100vh;
    position: fixed;
    top: 5em;
    z-index: 99;
    padding: 0 5px;
    transition: 100ms;
}

#sidebar:hover {
    width: 15em;
    padding: 0 .5em;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.nav-link {
    flex-direction: column;
}

#sidebar:hover .nav-link {
    flex-direction: row;
    column-gap: 1em;

}

#sidebar:hover .nav-link p {
    font-size: 14px;
}

.nav-link {
    padding: 10px;
    border-radius: 5px;
    color: theme('colors.primary');
}

.nav-link.active,
.nav-link.active:hover {
    background-color: theme('colors.primary');
    color: #252424;
    color: theme('colors.white');
}


@media (min-width:1024px) {
    #sidebar {
        width: 15em;
        height: 100vh;
        position: fixed;
        padding: 0 .5em;
    }

    .nav-link {
        flex-direction: row;
        gap: 1em;
    }

    .nav-link p {
        font-size: 14px;
    }
}