@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  outline-offset: none;
}

.input:focus,
.select:focus,
.textarea:focus{
  outline-offset: 0;
}

dialog.modal {
  opacity: 0;
  backdrop-filter: blur(5px);
}
