@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  outline-offset: none;
}

body {
  scroll-behavior: smooth;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline-offset: 0;
}

dialog.modal {
  opacity: 0;
  backdrop-filter: blur(5px);
}

body {
  scroll-behavior: smooth;
}

.filter-scrollbar::-webkit-scrollbar {
  background-color: #00000030;
  width: 0.5em !important;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary');
  border-radius: 15px;
}


.cart-link.active  {
  color: theme('colors.primary');
}

input[type=number] {
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select.select-primary {
  border: 1px solid theme('colors.primary');
}

.input:focus,
.select.select-primary:focus {
  outline: none;
  border-width: 2px;
}

textarea:focus {
  border: none;
}

.select.custom-select {
  border: none;
  min-height: 2.5em;
}